@import "../variables";

#main-body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12vh minmax(76vh, auto) 12vh;
}

#header{
  width: 100vw;
  padding: 1rem;
  background: $secondary-color;
  display: flex;
  align-items: center;

  .home{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    flex: 0 0 50%;
  }
  .auth{
    flex: 0 0 50%;
    flex-direction: row-reverse;
    display: flex;

    .guest, .logout{
      padding: 2.5vw;

      a{
        text-decoration: none;
        border: 1px solid $primary-color;
        padding: 5px .5rem;
        margin: {
          left: .5rem
        }
        color: $primary-color;
        &:nth-of-type(even){
          background: $primary-color;
          color: #fff;

          &:hover{
            opacity: .7
          }
        }
      }
    }
  }
}
#content{
  width: 100vw;
  padding: 2.5vw;
  h1{
    text-align: center
  }
}
#footer{
  background: $secondary-color;
  width: 100vw;
  padding: 1rem
}