@import "../variables";

#header{
  width: 100vw;
  padding: 1rem;
  background: $secondary-color;

  font: {
    size: x-large;
  }
  .home{
    text-decoration: none;
    color: darken($primary-color, 35%)
  }
}