@import "../variables";

#header{
  width: 100vw;
  padding: 1rem;
  background: $secondary-color;

  font: {
    size: 1.5rem;
  }
  .home{
    text-decoration: none;
    color: darken($primary-color, 35%)
  }
}
#auth{
  width: 100vw;

  .guest, .logout{
    padding: 2.5vw;

    a{
      text-decoration: none;
      border: 1px solid dodgerblue;
      padding: 5px .5rem;
      margin: {
        left: .5rem
      }
      color: dodgerblue;
      &:nth-of-type(even){
        background: dodgerblue;
        color: #fff;

        &:hover{
          opacity: .7
        }
      }
    }
  }
}
#content{
  width: 100%;
  padding: 2.5vw;
  h1{
    text-align: center
  }
}