body {
  padding: 2% 3%;
  font-family: "Avenir Next";
}

#header {
  text-align: center;
  width: 100vw;
  padding: 1rem;
  font-size: x-large;
}

.post .name {
  color: blue;
  font-size: x-large;
}

.post .body {
  border: 1px solid;
  width: 30vw;
  padding: 1% 2%;
  border-radius: 4px;
}

.pagination {
  list-style-type: none;
  display: -webkit-inline-box;
  display: inline-flex;
}

.pagination li {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.pagination li a {
  text-decoration: none !important;
}

#registrationForm,
#loginForm {
  max-width: 70vw;
  margin-left: 15vw;
  font-size: x-large;
}

#registrationForm .input-block,
#loginForm .input-block {
  display: block;
  line-height: 2;
}

#registrationForm .input-block input,
#loginForm .input-block input {
  width: 30vw;
  height: 1.5rem;
  border: 1px solid;
  border-radius: 4px;
}

