#registrationForm, #loginForm{
  max-width: 70vw;
  margin: {
    left: 15vw
  }
  .input-block{
    display: block;
    line-height: 2;

    input{
      width: 30vw;
      height: 1.5rem;
      border: 1px solid;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  font: {
    size: x-large;
  }
}